.pAdminGrid {
    display: grid;
    grid-template-columns: 1auto 1auto 1auto;
    grid-template-rows: 1auto 1auto;
    grid-template-areas: ". . ." ". . .";
}

.pTable {
    grid-column-start: auto;
    order: inherit;
}
