.pGrid {
    display: grid;
    grid-template-columns: minmax(200px, 400px) minmax(200px, 400px);
    grid-template-rows: minmax(200px, 400px);
}

.pTable {
    grid-area: 1 / 1 / 2 / 2;
}



.pNGrid {
    display: grid;
    grid-template-columns: minmax(40px, 80px) minmax(40px, 80px);
    grid-template-rows: 10% 10% 10% 10% 10%;
    grid-area: 1 / 2 / 2 / 3;
}

.pNames {
    grid-column-start: auto;
    order: inherit;
    position: relative;
}