div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

div.stickytop {
    position:sticky;
    float:right;
    top: 0;
    margin-right: -5px;
}

div.chips{
    padding: 3px;
}