.gridd {
    display: grid;
    grid-template-columns: 10% 1min-content 10%;
    grid-template-rows: 10% 1min-content 10%;
    grid-template-areas: "white gridRow1 white2" ". tabloo ." "white3 gridRow2 white4";
}

.white3 {
    grid-area: white3;
}

.white4 {
    grid-area: white4;
}

.tabloo {
    grid-area: tabloo;
}

.white {
    grid-area: white;
}

.white2 {
    grid-area: white2;
}

.gridRow1 {
    display: grid;
    grid-template-columns: 1auto 1auto 1auto 1auto;
    grid-template-rows: 1auto;
    grid-template-areas: ". . . .";
    grid-area: gridRow1;
    grid-row-gap: 30px;
}

.chair {
    grid-column-start: auto;
    order: inherit;
    position: relative;
}

.gridRow2 {
    display: grid;
    grid-template-columns: 1auto 1auto 1auto 1auto;
    grid-template-rows: 1auto;
    grid-template-areas: ". . . .";
    grid-area: gridRow2;
    grid-row-gap: 10px;
}

.chair2 {
    grid-column-start: auto;
    order: inherit;
}

#pokerstool {
    background-color: transparent;
    background-image: url(../assets/Tableview/Pokerstool.png);
    background-size: 100%;
    border: none;
    width: 100px;
    height: 100px;
    color: white;
    object-fit: contain;
}

#pokertable {
    background-color: transparent;
    border: none;
}
