@using WebMatrix.Data
@{
    string connectionString = @"Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database2.mdf;Integrated Security=True";

    string provider = "System.Data.SqlClient";

    Database db = Database.OpenConnectionString(connectionString, provider);

    Validation.RequireField("tableNr", "Specify the number of tables!");
    Validation.RequireField("playereNr", "Specify the number of players per table!");



    if (IsPost)
    {
        //Gets number of tables
        int tables = Int32.Parse(Request.Form["tableNr"]);
        //Gets max size of tables
        int players = Int32.Parse(Request.Form["playerNr"]);

        for (int i = 0; i < tables; i++)
        {
            var selectTable = "INSERT INTO Tables (Tbl_Nr) VALUES (@0)";
            db.Execute(selectTable, i);

        }

        //var selectPlayer = "INSERT INTO Room (Tbl_Max_Size) VALUES(@0)";
        //db.Execute(selectPlayer, players);
        Response.Write("Tables set to: " + tables);
    }
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Add Players</title>

</head>

<body class="text-center">
    <div class="container">
        <form id="tableNrForm" method="post">
            <div class="container">
                <div class="col">
                    <div class="row">
                        <div>
                            <label for="tablenr">Number of tables:</label>
                            <input type="text" id="tableNr" name="tableNr" value="@Request.Form["tableNr"]" />
                            @Html.ValidationMessage("tableNr")
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div>
                            <label for="playerNr">Number of players per table:</label>
                            <input type="text" id="playerNr" name="playerNr" value="@Request.Form["playerNr"]" />
                            @Html.ValidationMessage("playerNr")
                        </div>
                    </div>
                </div>
            </div>
            <div><button value="btnTables" type="submit">Submit</button></div>
        </form>
    </div>
</body>

</html>
