@using WebMatrix.Data
@using Microsoft.VisualBasic

@{
    string connectionString = @"Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True";
    string provider = "System.Data.SqlClient";
    Database db = Database.OpenConnectionString(connectionString, provider);

    //request the last 7 digits of the urgl (roomcode)
    string url = Request.Url.AbsolutePath;
    string urlcode = url.Substring(url.Length - 7);

    string stringTbl_Needed = "";


    int code = db.QueryValue("SELECT Room_Code FROM Room WHERE Room_Code = @0", urlcode);
    int number = 1;         //later toevoegen table number
    int rebuy = 0;          //aantal rebuys standaard op 0

    if (!IsPost)
    {
        //if (Request.Form["adminLogin"] != "true")
        //{
        //    Response.Redirect("~/Login.cshtml");
        //}
    }

    if (IsPost && Validation.IsValid())
    {
        string name = Request["name"];

        if (Request["AddName"] == "Add")
        {
            if (db.QueryValue("SELECT Name FROM Players WHERE Name = @0 AND Room_Code = @1", name, code) is null)
            {
                db.Execute("INSERT INTO Players (Name, Room_Code, Tbl_nr, Rebuy) VALUES (@0, @1, @2, @3)", name, code, number, rebuy);
                name = null;
            }
        }
        if (Request["delete"] == "delete")
        {
            string rowname = Request.Form["rownameform"];
            db.Execute("DELETE FROM Players WHERE Name = @0 AND Room_Code = @1", rowname, code);
        }
        if (Request["Proceed"] == "Proceed")
        {
            int NameCount = db.QueryValue("SELECT Count(Name) FROM Players WHERE Room_Code = @0", urlcode);
            float Tbl_Amount = db.QueryValue("SELECT Tbl_Amount FROM Room WHERE Room_Code = @0", urlcode);
            float Tbl_Max_Size = db.QueryValue("SELECT Tbl_Max_Size FROM Room WHERE Room_Code = @0", urlcode);
            float Tbl_Min_Size = db.QueryValue("SELECT Tbl_Min_Size FROM Room WHERE Room_Code = @0", urlcode);
            double Tbl_Needed = Math.Ceiling(NameCount / Tbl_Max_Size);
            stringTbl_Needed = Convert.ToString(Tbl_Needed);
            double playerspertable = NameCount / Tbl_Needed;
            double restplayerspertable = (NameCount / Tbl_Needed) - (Math.Floor(NameCount / Tbl_Needed));
            double totalrestplayerspertable = restplayerspertable * Tbl_Needed;
            Session["stringTbl_Needed"] =stringTbl_Needed;
            string Url = "Players.cshtml/" + code;
            Response.Redirect("~/" + Url);
        }
    }

}

<html>
<head>
    <title>Admin Page</title>
</head>

<body>
    @*<form method="post">
            <input type="text" name="Nr_Of_Players" value="@code"/>
            <input type="submit" name="settings" value="Save" />
        </form>*@


    <form method="post">
        <input type="text" name="name" placeholder="Input name here..." />
        <input type="submit" name="AddName" value="Add" />
    </form>

    <table>
        @foreach (var row in db.Query("SELECT Name FROM Players WHERE Room_Code = @0", code))
        {
            string rownameform = (string)row.Name;
            <tr>
                <td>
                    @row.Name

                </td>
            </tr>
            <tr>
                <td>
                    <form method="post">
                        <button type="submit" name="delete" value="delete">X</button>
                        @Html.Hidden("rownameform", rownameform)
                    </form>

                </td>
            </tr>
        }
    </table>
    <form method="post">
        <button type="submit" name="Proceed" value="Proceed">Proceed</button>

    </form>
</body>

</html>
