@using WebMatrix.Data
@using Microsoft.VisualBasic

@{
    Layout = "~/_Layout.cshtml";

    string connectionString = @"Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True";
    string provider = "System.Data.SqlClient";
    Database db = Database.OpenConnectionString(connectionString, provider);

    //request the last 7 digits of the urgl (roomcode)
    string url = Request.Url.AbsolutePath;
    string urlcode = url.Substring(url.Length - 7);

    string stringTbl_Needed = "";


    int code = db.QueryValue("SELECT Room_Code FROM Room WHERE Room_Code = @0", urlcode);
    int number = 1;         //later toevoegen table number
    int rebuy = 0;          //aantal rebuys standaard op 0

    if (!IsPost)
    {
        //if (Request.Form["adminLogin"] != "true")
        //{
        //    Response.Redirect("~/Login.cshtml");
        //}
    }

    if (IsPost && Validation.IsValid())
    {
        string name = Request["name"];

        if (Request["AddName"] == "Add")
        {
            if (db.QueryValue("SELECT Name FROM Players WHERE Name = @0 AND Room_Code = @1", name, code) is null)
            {
                db.Execute("INSERT INTO Players (Name, Room_Code, Tbl_nr, Rebuy) VALUES (@0, @1, @2, @3)", name, code, number, rebuy);
                name = null;
            }
        }
        if (Request["delete"] == "delete")
        {
            string rowname = Request.Form["rownameform"];
            db.Execute("DELETE FROM Players WHERE Name = @0 AND Room_Code = @1", rowname, code);
        }
        if (Request["Proceed"] == "Proceed")
        {
            int NameCount = db.QueryValue("SELECT Count(Name) FROM Players WHERE Room_Code = @0", urlcode);
            float Tbl_Amount = db.QueryValue("SELECT Tbl_Amount FROM Room WHERE Room_Code = @0", urlcode);
            float Tbl_Max_Size = db.QueryValue("SELECT Tbl_Max_Size FROM Room WHERE Room_Code = @0", urlcode);
            float Tbl_Min_Size = db.QueryValue("SELECT Tbl_Min_Size FROM Room WHERE Room_Code = @0", urlcode);
            double Tbl_Needed = Math.Ceiling(NameCount / Tbl_Max_Size);
            stringTbl_Needed = Convert.ToString(Tbl_Needed);
            double playerspertable = NameCount / Tbl_Needed;
            double restplayerspertable = (NameCount / Tbl_Needed) - (Math.Floor(NameCount / Tbl_Needed));
            double totalrestplayerspertable = restplayerspertable * Tbl_Needed;
            Session["stringTbl_Needed"] = stringTbl_Needed;
            string Url = "Players.cshtml/" + code;
            Response.Redirect("~/" + Url);
        }
    }

}

<html>
<head>
    <title>Admin Page</title>
</head>

<body>
    <div class="py-5 text-center">
        <div class="container">
            <div class="row">
                <div class="mx-auto col-lg-6 col-10">
                    <h1>Add players</h1>
                    <form method="post">
                        <div class="form-group"> <input name="name" type="text" class="form-control" placeholder="Enter player name" id="form1"> </div>
                        <button type="submit" name="AddName" value="Add" class="btn btn-primary">Add</button>
                    </form>

                    @foreach (var row in db.Query("SELECT Name FROM Players WHERE Room_Code = @0", code))
                    {
                        string rownameform = (string)row.Name;
                        <form method="post">
                            <div class="col-lg-4 col-md-6 p-4">
                                <div class="row">
                                    <div class="col-3 p-0 d-flex align-items-center"> <img class="img-fluid d-block" src="~/assets/logo.png"> </div>
                                    <div class="col-12">
                                        <p class="lead mb-1"> <b>@row.Name</b><button type="submit" name="delete" value="delete" class="btn btn-primary">X</button> </p>
                                        
                                    </div>
                                </div>
                            </div>
                        </form>
                        @Html.Hidden("rownameform", rownameform)
                    }
                    <form method="post">
                        <button type="submit" name="Proceed" value="Proceed" class="btn btn-primary">Proceed</button>
                    </form>
                </div>
            </div>
        </div>
    </div>                    
</body>
</html>
