@using WebMatrix.Data

@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Add Players";

    //Database connection
    string connectionString = @"Server = tcp: pokerapptres.database.windows.net;Database=Pokerapp;User ID =dannypas00@pokerapptres.database.windows.net;Password=Lugia123.;Trusted_Connection=False;Encrypt=True";
    string provider = "System.Data.SqlClient";
    Database db = Database.OpenConnectionString(connectionString, provider);

    if (Request.Cookies["LoginCookie"] is null || Request.Cookies["LoginCookie"].Value != "true")
    {
        Response.Redirect("~/Login.cshtml");
    }

    //Gather roomcode
    int urlcode = Convert.ToInt32(Request.Url.AbsolutePath.Split('/')[2]);

    int number = 1;         //later toevoegen table number
    int rebuy = 0;          //aantal rebuys standaard op 0

    if (IsPost)
    {
        string name = Request["name"];
        if (Request["AddName"] == "Add" && db.QueryValue("SELECT Name FROM Players WHERE Name = @0 AND Room_Code = @1", name, urlcode) is null)
        {
            db.Execute("INSERT INTO Players (Name, Room_Code, Tbl_nr, Rebuy) VALUES (@0, @1, @2, @3)", name, urlcode, number, rebuy);
            name = null;
        }
        else if (Request["delete"] == "delete")
        {
            db.Execute("DELETE FROM Players WHERE Name = @0 AND Room_Code = @1", Request.Form["rownameform"], urlcode);
        }
        else if (Request["Proceed"] == "Proceed")
        {
            Shuffle shuffle = new Shuffle();
            shuffle.ShuffleTable(db, urlcode);
            Response.Redirect("~/PlayingAdmin/" + urlcode);
        }
    }

}

    <div class="py-5 text-center">
        <div class="container">
            <div class="row">
                <div class="mx-auto col-lg-6 col-10">
                    <h1>Add players</h1>
                    <form method="post">
                        <div class="form-group"> <input name="name" type="text" class="form-control" placeholder="Enter player name" id="form1"> </div>
                        <button type="submit" name="AddName" value="Add" class="btn btn-primary">Add</button>
                        <button type="submit" name="Proceed" value="Proceed" class="btn btn-primary">Proceed</button>
                    </form>
                    <div style="padding: 15px 0px 0px 0px" class="col-md-12">
                        <div class="table-responsive">
                            
                                <table class="table">
                                    <tbody>
                                        @foreach (var row in db.Query("SELECT Name FROM Players WHERE Room_Code = @0", urlcode))
                                        {
                                            string rownameform = (string)row.Name;
                                            <tr>
                                                <td>
                                                @row.Name
                                                </td>
                                                <td>
                                                    <form method="post">
                                                        <button type="submit" name="delete" value="delete" class="btn btn-outline-secondary">X</button>
                                                        @Html.Hidden("rownameform", rownameform)
                                                    </form>
                                                </td>
                                            </tr>
                                            
                                        }
                                    </tbody>
                                </table>
                            
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>                    


