@using WebMatrix.Data
@using Microsoft.VisualBasic

@{
    Layout = "~/_Layout.cshtml";

    string connectionString = @"Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True";
    string provider = "System.Data.SqlClient";
    Database db = Database.OpenConnectionString(connectionString, provider);

    //request the last 7 digits of the urgl (roomcode)
    string url = Request.Url.AbsolutePath;
    string urlcode = url.Substring(url.Length - 7);

    int number = 1;         //later toevoegen table number
    int rebuy = 0;          //aantal rebuys standaard op 0

    if (!IsPost)
    {
        //if (Request.Form["adminLogin"] != "true")
        //{
        //    Response.Redirect("~/Login.cshtml");
        //}
    }

    if (IsPost && Validation.IsValid())
    {
        string name = Request["name"];

        if (Request["AddName"] == "Add")
        {
            if (db.QueryValue("SELECT Name FROM Players WHERE Name = @0 AND Room_Code = @1", name, urlcode) is null)
            {
                db.Execute("INSERT INTO Players (Name, Room_Code, Tbl_nr, Rebuy) VALUES (@0, @1, @2, @3)", name, urlcode, number, rebuy);
                name = null;
            }
        }
        if (Request["delete"] == "delete")
        {
            string rowname = Request.Form["rownameform"];
            db.Execute("DELETE FROM Players WHERE Name = @0 AND Room_Code = @1", rowname, urlcode);
        }
        if (Request["Proceed"] == "Proceed")
        {
            int NameCount = db.QueryValue("SELECT Count(Name) FROM Players WHERE Room_Code = @0", urlcode);

            float Tbl_Amount = db.QueryValue("SELECT Tbl_Amount FROM Room WHERE Room_Code = @0", urlcode);
            float Tbl_Max_Size = db.QueryValue("SELECT Tbl_Max_Size FROM Room WHERE Room_Code = @0", urlcode);
            float Tbl_Min_Size = db.QueryValue("SELECT Tbl_Min_Size FROM Room WHERE Room_Code = @0", urlcode);
            double Tbl_Needed = Convert.ToInt32(Math.Ceiling(NameCount / Tbl_Max_Size));

            double playerspertable = Math.Floor(NameCount / Tbl_Needed);
            int floorplayerspertable = Convert.ToInt32(playerspertable);

            int[] Tbl_Numberarray = new int[NameCount+1];
            int[] Count_per_Table = new int[Convert.ToInt32(Tbl_Needed)];
            int playernumber = 0;

            for (int Tbl_Neededcount = 0; Tbl_Neededcount < Tbl_Needed; Tbl_Neededcount++)
            {

                for (int Amountplaypertable = 0; Amountplaypertable < floorplayerspertable; Amountplaypertable++)
                {
                    Tbl_Numberarray[playernumber] = Tbl_Neededcount + 1;
                    Count_per_Table[Tbl_Neededcount]++;
                    playernumber++;
                }
            }

            if (playernumber != NameCount)
            {
                int restplayerspertable = NameCount - playernumber;
                while (restplayerspertable > 0)
                {
                    for (int i = 1; i < Tbl_Needed - 1; i++)
                    {
                        if (Count_per_Table[i - 1] != Tbl_Max_Size)
                        {
                            Tbl_Numberarray[playernumber] = i;
                            playernumber++;
                            restplayerspertable--;
                        }
                    }
                }
            }

            Random rnd = new Random();
            Tbl_Numberarray = Tbl_Numberarray.OrderBy(x => rnd.Next()).ToArray();
            int counting = 0;
            foreach (var row in db.Query("SELECT Name FROM Players WHERE Room_Code = @0", urlcode))
            {

                db.Execute("UPDATE Players SET Tbl_nr = @0 WHERE Name = @1", Tbl_Numberarray[counting], row.Name);
                counting++;
            }

            string Url = "Players.cshtml/" + urlcode;
            Response.Redirect("~/" + Url);
        }
    }

}

<html>
<head>
    <link rel="stylesheet" href="~/css/tableRows.css" />
    <title>Admin Page</title>
</head>

<body>
    <div class="py-5 text-center">
        <div class="container">
            <div class="row">
                <div class="mx-auto col-lg-6 col-10">
                    <h1>Add players</h1>
                    <form method="post">
                        <div class="form-group"> <input name="name" type="text" class="form-control" placeholder="Enter player name" id="form1"> </div>
                        <button type="submit" name="AddName" value="Add" class="btn btn-primary">Add</button>
                        <button type="submit" name="Proceed" value="Proceed" class="btn btn-primary">Proceed</button>
                    </form>
                    <div style="padding: 15px 0px 0px 0px" class="col-md-12">
                        <div class="table-responsive">
                            
                                <table class="table">
                                    <tbody>
                                        @foreach (var row in db.Query("SELECT Name FROM Players WHERE Room_Code = @0", urlcode))
                                        {
                                            string rownameform = (string)row.Name;
                                            <tr>
                                                <td>
                                                @row.Name
                                                </td>
                                                <td>
                                                    <form method="post">
                                                        <button type="submit" name="delete" value="delete" class="btn btn-outline-secondary">X</button>
                                                        @Html.Hidden("rownameform", rownameform)
                                                    </form>
                                                </td>
                                            </tr>
                                            
                                        }
                                    </tbody>
                                </table>
                            
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>                    
</body>
</html>
