@using WebMatrix.Data
@using Microsoft.VisualBasic

@{
    string connectionString = @"Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True";
    string provider = "System.Data.SqlClient";
    Database db = Database.OpenConnectionString(connectionString, provider);

    if (Request.Cookies["LoginCookie"] is null || Request.Cookies["LoginCookie"].Value != "true")
    {
        Response.Redirect("~/Login.cshtml");
    }

    //request the last 7 digits of the urgl (roomcode)
    string url = Request.Url.AbsolutePath;
    int urlcode = Convert.ToInt32(url.Substring(url.Length - 7));

    int number = 1;         //later toevoegen table number
    int rebuy = 0;          //aantal rebuys standaard op 0



    if (IsPost && Validation.IsValid())
    {
        string name = Request["name"];

        if (Request["AddName"] == "Add")
        {
            if (db.QueryValue("SELECT Name FROM Players WHERE Name = @0 AND Room_Code = @1", name, urlcode) is null)
            {
                db.Execute("INSERT INTO Players (Name, Room_Code, Tbl_nr, Rebuy) VALUES (@0, @1, @2, @3)", name, urlcode, number, rebuy);
                name = null;
            }
        }
        if (Request["delete"] == "delete")
        {
            string rowname = Request.Form["rownameform"];
            db.Execute("DELETE FROM Players WHERE Name = @0 AND Room_Code = @1", rowname, urlcode);
        }
        if (Request["Proceed"] == "Proceed")
        {
            Shuffle shuffle = new Shuffle();
            shuffle.ShuffleTable(db, urlcode);

            Response.Redirect("~/PlayingAdmin/" + urlcode);
        }
    }

}

<html>
<head>
    <title>Admin Page</title>
</head>

<body>
    <form method="post">
        <input type="text" name="name" placeholder="Input name here..." />
        <input type="submit" name="AddName" value="Add" />
    </form>

    <table>
        @foreach (var row in db.Query("SELECT Name FROM Players WHERE Room_Code = @0", urlcode))
        {
            string rownameform = (string)row.Name;
            <tr>
                <td>
                    @row.Name

                </td>
            </tr>
            <tr>
                <td>
                    <form method="post">
                        <button type="submit" name="delete" value="delete">X</button>
                        @Html.Hidden("rownameform", rownameform)
                    </form>

                </td>
            </tr>
        }
    </table>
    <form method="post">
        <button type="submit" name="Proceed" value="Proceed">Proceed</button>
    </form>
</body>
</html>
