@{
    //load layout
    Layout = "_Layout.cshtml";
    Page.Title = "Login";

    Validation.Add("name", Validator.StringLength(10, 1, "Username has to be 1-10 characters"));
    Validation.Add("password", Validator.StringLength(10, 1, "password has to be 1-10 characters"));

    string Error = "";

    //if the page is posted and validation is valid
    if (IsPost && Validation.IsValid())
    {
        //check if name and password are correct
        if (Request.Form["name"] == "TimoSchraa" && Request.Form["password"] == "password")
        {
            //turn on a cookie for 3 hours
            Response.Cookies["LoginCookie"].Value = "true";
            Response.Cookies["LoginCookie"].Expires = DateTime.Now.AddHours(3);
            Response.Redirect("~/Gameselect.cshtml");
        }
        else
        {
            //error message by wrong login
            Error = "Invalid credentials!";
        }
    }
}

<head>
    <style>
        .validation-summary-errors {
            color: red;
            font-weight: bold;
        }

        .field-validation-error {
            font-weight: bold;
            color: red;
        }
    </style>
</head>

<div class="py-5 text-center">
    <div class="container">
        <div class="row">
            <div id="login" class="mx-auto col-md-6 col-10 p-5">
                <h1 class="mb-4">Log in</h1>
                <span class="help-block">
                    @Html.ValidationSummary()
                    <a style=color:red;><strong>@Error</strong></a>
                </span>
                <form method="post" name="login" action="" accept-charset="utf-8">
                    <div class="form-group"> <input type="text" class="form-control" name="name" placeholder="Enter username" id="form1" autofocus> </div>
                    <div class="form-group mb-3"> <input type="password" class="form-control" name="password" placeholder="Password" id="form2"> <small class="form-text text-muted text-right"></small></div>
                    <button name="Login" value="Login" type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>