@using WebMatrix.Data

@{
    string connectionString = @"Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True";
    string provider = "System.Data.SqlClient";
    Database db = Database.OpenConnectionString(connectionString, provider);

    string url = Request.Url.AbsolutePath;
    //string roomCode = url.Substring(url.Length - 7);
    int roomCode = 1234567;

    string olaftry2 = Request["Name"];
    int table = db.QueryValue("SELECT Tbl_nr FROM Players WHERE Name = @0 AND Room_Code = @1", olaftry2, roomCode);

    var namen = db.Query("SELECT Name FROM Players WHERE Room_Code = @0 AND Tbl_nr = @1 AND Active = 1", roomCode, table);
    int aantal = db.QueryValue("SELECT COUNT(Name) FROM Players WHERE Room_Code = @0 AND Tbl_nr = @1 AND Active = 1", roomCode, table);
    double gedeeld = aantal / 2;
    int helft = Convert.ToInt32(gedeeld);
    int eerste = Convert.ToInt32(aantal - helft);
    int tweede = Convert.ToInt32(eerste - 1);
    if (aantal % 2 == 0)
    {
        tweede = eerste;
    }
    if (aantal > 10)    //Haal max spelers uit database
    {
        string Url = "Players.cshtml/" + roomCode;   //Needs fixing
        Response.Redirect("~/" + Url);
    }

    int maxrebuy = (int)db.QueryValue("SELECT Allow_Rebuy FROM Room WHERE Room_Code = @0", roomCode);
    int activeupdate = 0;



    if (olaftry2 != null)
    {
        activeupdate = db.Execute("UPDATE Players SET Active = 0 WHERE Name = @0 AND Room_Code = @1 AND Tbl_nr = @2", olaftry2, roomCode, table);
        int activeforplayer = db.QueryValue("SELECT Active FROM Players WHERE Name = @0 AND Room_Code = @1 AND Tbl_nr = @2", olaftry2, roomCode, table);
        <h5>@olaftry2 your activity is now @activeforplayer.</h5>
    }

    var spelerinactive = db.Query("SELECT Name FROM Players WHERE ACTIVE = 0 AND Room_Code = @0", roomCode);

}
