@using WebMatrix.Data

@{
    string connectionString = @"Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True";
    string provider = "System.Data.SqlClient";
    Database db = Database.OpenConnectionString(connectionString, provider);

    string url = Request.Url.AbsolutePath;
    //string roomCode = url.Substring(url.Length - 7);

    //get name and roomcode
    string playerName = Request["name"];
    int roomCode = Convert.ToInt32(Request["roomcode"]);

    int table = db.QueryValue("SELECT Tbl_nr FROM Players WHERE Name = @0 AND Room_Code = @1", playerName, roomCode);

    var names = db.Query("SELECT Name FROM Players WHERE Room_Code = @0 AND Tbl_nr = @1 AND Active = 1", roomCode, table);
    int amount = db.QueryValue("SELECT COUNT(Name) FROM Players WHERE Room_Code = @0 AND Tbl_nr = @1 AND Active = 1", roomCode, table);
    double division = amount / 2;
    int halfnamesCount = Convert.ToInt32(division);
    int firsthalfnamesCount = Convert.ToInt32(amount - halfnamesCount);
    int secondhalfnamesCount = Convert.ToInt32(firsthalfnamesCount - 1);
    if (amount % 2 == 0)
    {
        secondhalfnamesCount = firsthalfnamesCount;
    }
    if (amount > 10)    //Haal max spelers uit database
    {
        string Url = "Players.cshtml/" + roomCode;   //Needs fixing
        Response.Redirect("~/" + Url);
    }

    int maxrebuy = (int)db.QueryValue("SELECT Allow_Rebuy FROM Room WHERE Room_Code = @0", roomCode);
    int activeupdate = 0;



    if (playerName != null)
    {
        activeupdate = db.Execute("UPDATE Players SET Active = 0 WHERE Name = @0 AND Room_Code = @1 AND Tbl_nr = @2", playerName, roomCode, table);
        int activeforplayer = db.QueryValue("SELECT Active FROM Players WHERE Name = @0 AND Room_Code = @1 AND Tbl_nr = @2", playerName, roomCode, table);
        <h5>@playerName your activity is now @activeforplayer.</h5>
    }

    var spelerinactive = db.Query("SELECT Name FROM Players WHERE ACTIVE = 0 AND Room_Code = @0", roomCode);

}
