@using WebMatrix.Data

@{
    string connectionString = @"Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True";
    string provider = "System.Data.SqlClient";
    Database db = Database.OpenConnectionString(connectionString, provider);

    int roomcode = 1234567;

    if (IsPost && !Request.Form["quit"].IsEmpty())
    {
        int endgamequery = (int)db.Execute("UPDATE Players SET Tbl_nr = NULL, Rebuy = NULL, Active = NULL WHERE Room_Code = @0", roomcode);


        Response.Redirect("insertpagehere.cshtml");
    }


}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">QUIT GAME</button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to end the game?</h5>
                </div>
                <form method="post" name="optionsform" class="optionsform">
                    <div class="modal-footer">
                        <button value="quit" name="quit" type="submit">CONFIRM</button>
                    </div>
                </form>
            </div>

        </div>
    </div>

</body>
</html>