@{
    if (IsPost && Validation.IsValid())
    {
        if (Request.Form["name"] == "TimoSchraa" && Request.Form["password"] == "password")
        {
            Html.Hidden("adminLogin", "true");
            Response.Redirect("~/Settings.cshtml");
        }
        else
        {
            <p style="color: red">Invalid credentials!</p>
        }
    }
}

<div id="login">
    <form method="post" name="login" action="" accept-charset="utf-8">
        <label for="name">Username:</label><br />
        <input type="text" name="name" placeholder="Username" /><br /><br />
        <label for="password">Password:</label><br />
        <input type="password" name="password" placeholder="Password" /><br /><br />
        <input type="submit" name="Login" value="Login"><br />
    </form>
</div>