@{
    Layout = "_Layout.cshtml";

    if (IsPost && Validation.IsValid())
    {
        if (Request.Form["name"] == "TimoSchraa" && Request.Form["password"] == "password")
        {
            Html.Hidden("adminLogin", "true");
            Response.Redirect("~/Gameselect.cshtml");
        }
        else
        {
            <p style="color: red">Invalid credentials!</p>
        }
    }
}

<div class="py-5 text-center">
    <div class="container">
        <div class="row">
            <div id="login" class="mx-auto col-md-6 col-10 bg-white p-5">
                <h1 class="mb-4">Log in</h1>
                <form method="post" name="login" action="" accept-charset="utf-8">
                    <div class="form-group"> <input type="text" class="form-control" name="name" placeholder="Enter username" id="form1"> </div>
                    <div class="form-group mb-3"> <input type="password" class="form-control" name="password" placeholder="Password" id="form2"> <small class="form-text text-muted text-right"></small></div> 
                    <button name="Login" value="Login" type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>