@using WebMatrix.Data

@{

    Layout = "~/_Layout.cshtml";
    Page.Title = "Add Players";

    string connectionString = @"Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True";
    string provider = "System.Data.SqlClient";
    Database db = Database.OpenConnectionString(connectionString, provider);





    int urlcode = Int32.Parse(Request.QueryString["rc"]);
    int amount = db.QueryValue("SELECT TOP 1 Tbl_nr FROM Players WHERE Room_Code = @0 ORDER BY Tbl_nr DESC", urlcode);


}



<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Tables</h1>
            </div>
        </div>
        <div class="col-md-6">
            @for (int i = 0; i < amount; i++)
            {
                int tbl_nr = i + 1;
            string Url = "Tableview.cshtml?rc=" + urlcode + "&tn=" + tbl_nr;
            <form method="post">
                <div class="clickable row" style="cursor:pointer; padding-top:2em">
                    <div class="col-md-9">
                        <div style="background-image: url(/tafel.png) ;height:200px;width:100%"></div>
                    </div>
                    <div class="col-md-3 d-flex flex-column align-items-start justify-content-center order-1 order-lg-2">
                        @foreach (var row in db.Query("SELECT Name FROM Players WHERE Room_Code = @0 AND Tbl_nr = @1", urlcode, tbl_nr))
                            {
                        <p class="mb-0"><b>@row.Name</b></p>
                            }





                    </div>

                    <a href=@Url></a>
                </div>
            </form>
                }
        </div>
    </div>
</div>
<script>
    jQuery(document).ready(function ($) {
        $(".clickable").click(function () {
            window.location = $(this).find("a:first").attr("href");
        });
    });
</script>
