@using WebMatrix.Data

@{

    Layout = "~/_Layout.cshtml";
    Page.Title = "Add Players";

    string connectionString = @"Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True";
    string provider = "System.Data.SqlClient";
    Database db = Database.OpenConnectionString(connectionString, provider);



    string url = Request.Url.AbsolutePath;
    string urlcode = url.Substring(url.Length - 7);

    urlcode = "1234567";


    int amount = db.QueryValue("SELECT TOP 1 Tbl_nr FROM Players WHERE Room_Code = @0 ORDER BY Tbl_nr DESC", urlcode);
    for (int i = 1; i <= amount; i++)
    {
        if (IsPost && Convert.ToInt32(Request["Proceed"]) == i)
        {
            Session["tablenumber"] = i;
            string Url = "Tableview.cshtml/" + urlcode;
            Response.Redirect("~/" + Url);
        }
    }
}



<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Tables</h1>
            </div>
        </div>
        <div class="col-md-6">
            @for (int i = 0; i < amount; i++)
            {
                int tbl_nr = i + 1;
            <form method="post">
                <div class="clickable row" style="cursor:pointer; padding-top:2em" data-href="Tableview.cshtml/@tbl_nr">
                    <div class="col-md-9">
                        <div  style="background-image: url(/tafel.png) ;height:200px;width:100%"></div>
                    </div>
                    <div class="col-md-3 d-flex flex-column align-items-start justify-content-center order-1 order-lg-2">
                        @foreach (var row in db.Query("SELECT Name FROM Players WHERE Room_Code = @0 AND Tbl_nr = @1", urlcode, tbl_nr))
                            {
                        <p class="mb-0"><b>@row.Name</b></p>
                            }





                    </div>
                </div>
            </form>
                }
        </div>
    </div>
</div>
<script>
    jQuery(document).ready(function ($) {
        $(".clickable").click(function () {
            window.location = $(this).data("href");
        });
    });
</script>
