@using WebMatrix.Data

@{
    Page.Title = "Game running";
    Layout = "~/_Layout.cshtml";
    string connectionString = @"Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True";
    string provider = "System.Data.SqlClient";
    Database db = Database.OpenConnectionString(connectionString, provider);

    string url = Request.Url.AbsolutePath;
    int urlcode = Convert.ToInt32(url.Substring(url.Length - 7));
    int tables = db.QueryValue("SELECT TOP 1 Tbl_nr FROM Players WHERE Room_Code = @0 ORDER BY Tbl_nr DESC", urlcode);
    if (IsPost && Request.UrlReferrer.AbsolutePath == Request.Url.AbsolutePath)
    {
        switch (Request.Form["submit"])
        {
            case "pauze":
                //pauze logic//
                break;
            case "shuffle":
                //shuffle logic//
                break;
            case "manage":
                Response.Redirect("~/AdminPage.cshtml/" + urlcode);
                break;
            default:
                break;
        }
    }
}

<div>
    <header>
        <h1>Game in progress</h1>
    </header>
    <div class="playingBody">
        <form name="updateSettings" method="post">
            <button type="submit" value="pauze" name="submit" >Pauze the game</button>
            <button type="submit" value="shuffle" name="submit">Shuffle all players</button>
            <button type="submit" value="manage" name="submit">Add/remove players</button>
        </form>
            @for (int i = 0; i < tables; i++)
            {
                int tbl_Nr = i + 1;
            <ul class="singleTableList" style="display: block; float:right; border: 3px solid gray;">
                <h2>Table @tbl_Nr</h2>
                @foreach (var row in db.Query("SELECT Name FROM Players WHERE Room_Code = @0 AND Tbl_nr = @1", urlcode, tbl_Nr))
                {
                    <li class="singlePlayer">@row.Name</li>
        }
            </ul>
            }
    </div>
</div>