@using WebMatrix.Data

@{

    Layout = "~/_Layout.cshtml";
    Page.Title = "Add Players";

    string connectionString = @"Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True";
    string provider = "System.Data.SqlClient";
    Database db = Database.OpenConnectionString(connectionString, provider);



    string url = Request.Url.AbsolutePath;
    string urlcode = url.Substring(url.Length - 7);

    urlcode = "1234567";


    int amount = db.QueryValue("SELECT TOP 1 Tbl_nr FROM Players WHERE Room_Code = @0 ORDER BY Tbl_nr DESC", urlcode);
    for (int i = 1; i <= amount; i++)
    {
        if (IsPost && Convert.ToInt32(Request["Proceed"]) == i)
        {
            Session["tablenumber"] = i;
            string Url = "Tableview.cshtml/" + urlcode;
            Response.Redirect("~/" + Url);
        }
    }
}



<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Tables</h1>
            </div>
        </div>

        @for (int i = 0; i < amount; i++)
            {
                int tbl_nr = i + 1;
        <div class="row" id="names" style="padding-top:2em">
            <div class="col-lg-5 col-md-6 p-md-4 col-3">
                <img class="img-fluid d-block" src="~/tafel.png" style="height:200px;width:300px" />
            </div>
            <div class="px-md-5 p-3 col-lg-6 d-flex flex-column align-items-start justify-content-center order-1 order-lg-2" style="position: relative">
                @foreach (var row in db.Query("SELECT Name FROM Players WHERE Room_Code = @0 AND Tbl_nr = @1", urlcode, tbl_nr))
                            {
                <p class="mb-0"><b>@row.Name</b></p>
                            }

                <form method="post" style="position: absolute; bottom: 0;">
                    <input class="btn btn-primary" type="submit" name="Proceed" value="Table #@tbl_nr" />
                </form>

            </div>
        </div>
                }
    </div>
</div>

