@using WebMatrix.Data

@{
    Page.Title = "Game running";
    Layout = "~/_Layout.cshtml";
    string connectionString = @"Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True";
    string provider = "System.Data.SqlClient";
    Database db = Database.OpenConnectionString(connectionString, provider);

    string prelink = Request.Url.AbsoluteUri;
    string[] link = prelink.Split('/');
    string linked = link[0] + "//" + link[2] + "/Players/" + link[4];
    int urlcode = Convert.ToInt32(link[4]);

    if (Request.Cookies["LoginCookie"] is null || Request.Cookies["LoginCookie"].Value != "true")
    {
        Response.Redirect("~/Login.cshtml");
    }

    int tables = db.QueryValue("SELECT TOP 1 Tbl_nr FROM Players WHERE Room_Code = @0 ORDER BY Tbl_nr DESC", urlcode);
    if (IsPost && Request.UrlReferrer.AbsolutePath == Request.Url.AbsolutePath)
    {
        switch (Request.Form["submit"])
        {
            case "pauze":
                //pauze logic//
                break;
            case "shuffle":
                Shuffle shuffle = new Shuffle();
                shuffle.ShuffleTable(db, urlcode);
                //Update tables with AJAX//
                break;
            case "manage":
                Response.Redirect("~/AdminPage.cshtml/" + urlcode);
                break;
            default:
                break;
        }
    }
}

<div>
    <header>
        <h1>Game in progress</h1>
    </header>
    <div class="playingBody">
        <div style="padding-left:20px"class="row">
            <form name="updateSettings" method="post">
                <button type="submit" value="pauze" name="submit">Pauze the game</button>
                <button type="submit" value="shuffle" name="submit">Shuffle all players</button>
                <button type="submit" value="manage" name="submit">Add/remove players</button>
            </form>
            <div style="padding-left:20px"><p>Share this link: <a href=@linked>@linked</a></p></div>
        </div>
        <div class="mx-auto col-lg-6 col-10">
            <div  class="row">
                @for (int i = 0; i < tables; i++)
                {
                    int tbl_Nr = i + 1;
                    <div style="width:200px; padding-left:20px;" class="table-responsive">
                        <table class="table">
                            <tbody>
                                Table @tbl_Nr
                                @foreach (var row in db.Query("SELECT Name FROM Players WHERE Room_Code = @0 AND Tbl_nr = @1", urlcode, tbl_Nr))
                                {
                                    <tr>
                                        <td>
                                            <h3>@row.Name</h3>
                                        </td>
                                    </tr>

                                }
                            </tbody>
                        </table>
                    </div>
                }
                </div>
        </div>
        
    </div>
</div>