@using WebMatrix.Data

@{
    Layout = "~/_Layout.cshtml";

    string connectionString = @"Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True";
    string provider = "System.Data.SqlClient";
    Database db = Database.OpenConnectionString(connectionString, provider);


    string url = Request.Url.AbsolutePath;
    string urlcode = url.Substring(url.Length - 7);
    int amount = Convert.ToInt32(Session["stringTbl_Needed"]);
    for (int i = 1; i <= amount; i++)
    {
        if (IsPost && Convert.ToInt32(Request["Proceed"]) == i)
        {
            Session["tablenumber"] = i;
            string Url = "Tableview.cshtml/" + urlcode;
            Response.Redirect("~/" + Url);
        }
    }

    int max_size = db.QueryValue("SELECT Tbl_Max_Size FROM Room WHERE Room_Code = @0", urlcode);
    int min_size = db.QueryValue("SELECT Tbl_Min_Size FROM Room WHERE Room_Code = @0", urlcode);
    int needed = amount;
    var mount = db.Query("SELECT Name FROM Players WHERE Room_Code = @0", urlcode);
    int players = 0;
    foreach(var a in mount)
    {
        players++;
    }

    var tables = db.Query("SELECT DISTINCT Tbl_nr FROM Players WHERE Room_Code = @0", urlcode);
    int tablenr = 0;
    foreach(var a in tables)
    {
        tablenr++;
        var table = db.Query("SELECT Name FROM Players WHERE Room_Code = @0 AND Tbl_nr = @1", urlcode, tablenr);
        int player = 0;
        foreach (var b in table)
        {
            player++;
        }

        if (min_size >= player)
        {
            <script>
                alert("The minimum size has been reached!");
            </script>

            //shuffle
        }
    }
}

<html>
<head>
    <title>Players</title>
</head>
<body>
    <div class="row">
        @for (int i = 1; i <= amount; i++)
        {
            int tbl_nr = i;
        <div ="col">
            @foreach (var row in db.Query("SELECT Name FROM Players WHERE Room_Code = @0 AND Tbl_nr = @1", urlcode, tbl_nr))
            {
                @row.Name<br />
            }
            <form method="post">
                <input type="submit" name="Proceed" value=@i />
            </form>
       
            @players
        </div><br />
        }
    </div>
</body>
</html>
