@using WebMatrix.Data

@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Players";

    string connectionString = @"Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True";
    string provider = "System.Data.SqlClient";
    Database db = Database.OpenConnectionString(connectionString, provider);

    //Gets roomcode from url
    string prelink = Request.Url.AbsoluteUri;
    string[] link = prelink.Split('/');
    int urlcode = Convert.ToInt32(link[4]);

    //Return to login if players are lower than min_size
    int players = Convert.ToInt32(db.QueryValue("SELECT COUNT(Name) FROM Players WHERE Room_Code = @0", urlcode));
    int min_size = Convert.ToInt32(db.QueryValue("SELECT Tbl_Min_Size FROM Room WHERE Room_Code = @0", urlcode));
    if (players < (min_size + 1))
    {
        Response.Redirect("~/AdminPage.cshtml/" + urlcode);
    }

    int amount = db.QueryValue("SELECT TOP 1 Tbl_nr FROM Players WHERE Room_Code = @0 ORDER BY Tbl_nr DESC", urlcode);

    //Link for redirecting to the rulespage
    string Url = link[0] + "//" + link[2] + "/" + "RulesPageNL/" + link[4];
}
<link rel="stylesheet" href="~/css/pViewGrid.css" />
<style>
    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>

    <div class="header">
        <div style="cursor:pointer; float:right; margin-top:40px;margin-right:70px" class="btn btn-primary clickableBtn" data-href="@Url">
            Rules
        </div>
    </div>
    <div class="py-5" >
        <div class="col-md-12 text-center">
            <h1>Tables</h1>
        </div>

        <!--The 2x6 grid-->
        <div class="bpGrid">
        @for (int i = 0; i < amount; i++)
        {
            int tbl_nr = i + 1;
            string table = i.ToString();
            Url = link[0] + "//" + link[2] + "/" + "Tableview.cshtml?roomcode=" + link[4] + "&table=" + tbl_nr;
            <!--This gets put in the 2x6 grid and is a grid for the table and the names-->
        <div class="pGrid" style="margin-left:30px; text-align:center">
            <div class="clickable" style="background: url(../assets/Tableview/Pokertable.png) no-repeat; background-size: 100%; cursor:pointer">
                <div class="text-center" style="display:inline-block; margin-top:30px"><h3><b>Table @tbl_nr</b></h3></div>
                <!--Table gets put in the grid-->
                <form method="post" class="pTable">
                    <div class="row">
                        <div class="col d-flex flex-column align-items-start justify-content-center order-1 order-lg-2" style="padding-top:5px">
                        </div>
                    </div>

                    <input type="hidden" name="roomcode" value=@urlcode />
                    <a href=@Url></a>

                </form>
            </div>
            <!--Grid for the names-->
            <div class="pNGrid">
                @foreach (var row in db.Query("SELECT Name FROM Players WHERE Room_Code = @0 AND Tbl_nr = @1", urlcode, tbl_nr))
                {   <!--Names get put in the grid-->
                    <div class="pNames" style="padding-bottom:10px; padding-left:10px">
                        <p><b>@row.Name </b></p>
                    </div>
                }
            </div>
        </div>
        }
        </div>
    </div>

<script>
    /*Makes Rules page button clickable */
    jQuery(document).ready(function ($) {
        $(".clickable").click(function () {
            window.location = $(this).find("a:first").attr("href");
        });
    });
    /*Makes the whole table clickable */
    jQuery(document).ready(function ($) {
        $(".clickableBtn").click(function () {
            window.location = $(this).data("href");
        });
    });
</script>
