@using WebMatrix.Data

@{
    string connectionString = @"Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True";
    string provider = "System.Data.SqlClient";
    Database db = Database.OpenConnectionString(connectionString, provider);


    string url = Request.Url.AbsolutePath;
    string urlcode = url.Substring(url.Length - 7);
    int amount = db.QueryValue("SELECT TOP 1 Tbl_nr FROM Players WHERE Room_Code = @0 ORDER BY Tbl_nr DESC", urlcode);
    for (int i = 1; i <= amount; i++)
    {
        if (IsPost && Convert.ToInt32(Request["Proceed"]) == i)
        {
            string table = i.ToString();
            string Url = "Tableview.cshtml/" + urlcode + "/" + table;
            Response.Redirect("~/" + Url);
        }
    }
}
<div class="container">
    <div class="row">
        @for (int i = 0; i < amount; i++)
        {
            int tbl_nr = i + 1;
            <div class="row" id="names">
                <div class="col">
                    <img src="~/tafel.png" style="height:200px;width:300px" />
                </div>
                <div class="col" id="namelist">
                    <ul style="list-style-type:none">
                        @foreach (var row in db.Query("SELECT Name FROM Players WHERE Room_Code = @0 AND Tbl_nr = @1", urlcode, tablenr))
                        {
                            <li>@row.Name</li>
                        }

                        <li>
                            <form method="post">
                                <input type="submit" name="Proceed" value=@tbl_nr />
                            </form>
                        </li>
                    </ul>
                </div>
                </div>
            }
        </div>
        <div ="col">
            @foreach (var row in db.Query("SELECT Name FROM Players WHERE Room_Code = @0 AND Tbl_nr = @1", urlcode, tablenr))
            {
                @row.Name<br />
            }
            <form method="post">
                <input type="submit" name="Proceed" value=i />
            </form>
            @players
        </div><br />
    </div>
</div>
