@using WebMatrix.Data;
@{
    string connectionString = @"Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True";
    string provider = "System.Data.SqlClient";
    Database db = Database.OpenConnectionString(connectionString, provider);

    string name = Request["name"];
    
    //unverified requests
    var roomCode = Request["roomcode"];
    var tablenr = Request["table"];

    //Select the current table

    var selectTable = "SELECT * FROM Players WHERE Tbl_nr = @0";
    var getTableNumber = db.QueryValue(selectTable,tablenr);

    //Show players in the current table
    var selectCommand = "SELECT Name FROM Players WHERE Room_Code = @0 AND Tbl_Nr =@1";
    var selectPlayers = db.Query(selectCommand, name, tablenr);

}
<html>
<head>
    <title></title>


</head>
<body>

    <h1>This is table nr: @getTableNumber</h1>
    <div>
        <div class="timer">Timer</div>

    </div>
    <div class="round">This is round: <span id="rnumber"></span></div>
    <table>
        @foreach (var player in selectPlayers)
        {
            <tr>
                <td>@player.Name</td>
            </tr>
        }
    </table>
</body>
</html>
