@using WebMatrix.Data;
@{
    string connectionString = @"Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True";
    string provider = "System.Data.SqlClient";
    Database db = Database.OpenConnectionString(connectionString, provider);

    string name = Request["name"];
    
    //unverified requests
    var roomCode = Request["roomcode"];
    var tablenr = Request["table"];

    //Select the current table

    var selectTable = "SELECT * FROM Players WHERE Tbl_nr = @0";
    var getTableNumber = db.QueryValue(selectTable,tablenr);

    //Show players in the current table
    var selectCommand = "SELECT Name FROM Players WHERE Room_Code = @0 AND Tbl_Nr =@1";
    var selectPlayers = db.Query(selectCommand, name, tablenr);

}
<html>
<head>
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>

        $(document).ready(function () {
            $.ajax({
                url: "Timer.cshtml",
                type: "get",
                data: {
                    roomcode: 2223610,
                    table: 1,
                },
                success: function (response) {
                    startTimer(response); // Returns timer from db
                }
            });

            function startTimer(timer) {
                var timer = timer.split(":"); // Split timer
                
                var targetHours = parseInt(timer[0]);
                var targetMinutes = parseInt(timer[1]);
                var targetSeconds = parseInt(timer[2]);

                var currentHours = 0;
                var currentMinutes = 0;
                var currentSeconds = 0;

                var displayHours;
                var displayMinutes;
                var displaySeconds;

                var round = 1;
                document.querySelector('#rnumber').innerHTML = round;

                setInterval(function () {
                    var displayHours = currentHours;
                    var displayMinutes = currentMinutes;
                    var displaySeconds = currentSeconds;

                    if (currentHours.toString().length < 2) {
                        displayHours = "0" + currentHours;
                    }

                    if (currentMinutes.toString().length < 2) {
                        displayMinutes = "0" + currentMinutes;
                    }

                    if (currentSeconds.toString().length < 2) {
                        displaySeconds = "0" + currentSeconds;
                    }

                    document.querySelector('.timer').innerHTML = displayHours + ":" + displayMinutes + ":" + displaySeconds;

                    if (currentHours == targetHours && currentMinutes == targetMinutes && currentSeconds == targetSeconds) {
                        round++;
                        document.querySelector('#rnumber').innerHTML = round;
                    }

                    currentSeconds++;

                    if (currentSeconds == 60) {
                        currentMinutes++;
                        currentSeconds = 0;
                    }

                    if (currentMinutes == 60) {
                        currentHours++;
                        currentMinutes = 0;
                    }
                }, 1000);

            }
        });

    </script>

</head>
<body>

    <h1>This is table nr: @getTableNumber</h1>
    <div>
        <div class="timer">Timer</div>

    </div>
    <div class="round">This is round: <span id="rnumber"></span></div>
    <table>
        @foreach (var player in selectPlayers)
        {
            <tr>
                <td>@player.Name</td>
            </tr>
        }
    </table>
</body>
</html>
