@using WebMatrix.Data

@{
    string connectionString = @"Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True";
    string provider = "System.Data.SqlClient";
    Database db = Database.OpenConnectionString(connectionString, provider);

    string url = Request.Url.AbsolutePath;
    string[] urlcode = url.Split('/');
    string table = urlcode[3];
    string roomCode = urlcode[2];

    var namen = db.Query("SELECT Name FROM Players WHERE Room_Code = @0 AND Tbl_nr = @1", roomCode, table);
    int aantal = namen.Count();
    double gedeeld = aantal / 2;
    int helft = Convert.ToInt32(gedeeld);
    int eerste = Convert.ToInt32(aantal - helft);
    int tweede = Convert.ToInt32(eerste - 1);
    if (aantal % 2 == 0)
    {
        tweede = eerste;
    }
    if (aantal > 10)    //Haal max spelers uit database
    {
        string Url = "Players.cshtml/" + roomCode;   //Needs fixing
        Response.Redirect("~/" + Url);
    }
}

<html>
<head>
    <title>Tableview</title>
</head>
<body>
    <h1>Table @table</h1>
    <br />
    <div>
        @foreach (var a in db.Query("SELECT TOP (@0) Name FROM Players WHERE Room_Code = @1 AND Tbl_nr = @2 ORDER BY Name ASC", eerste, roomCode, table))
        {
            @a.Name
            <img src="~/stoel.png" name="chair" />
        }
    </div><br />
    <div>
        <img src="~/tafel.png" name="pokertable" />
    </div>
    <br /><div>
        @foreach (var a in db.Query("SELECT TOP (@2) Name FROM Players WHERE Room_Code = @0 AND Tbl_nr = @1 ORDER BY Name DESC", roomCode, table, tweede))
        {
            <img src="~/stoel.png" name="chair" />
            @a.Name
        }
    </div>
</body>
</html>