@using WebMatrix.Data

@{

    string connectionString = @"Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True";
    string provider = "System.Data.SqlClient";
    Database db = Database.OpenConnectionString(connectionString, provider);

    string url = Request.Url.AbsolutePath;
    //string roomCode = url.Substring(url.Length - 7);
    int roomCode = 1234567;

    string olaftry2 = Request["Name"];
    int table = db.QueryValue("SELECT Tbl_nr FROM Players WHERE Name = @0 AND Room_Code = @1", olaftry2, roomCode);

    var namen = db.Query("SELECT Name FROM Players WHERE Room_Code = @0 AND Tbl_nr = @1 AND Active = 1", roomCode, table);
    int aantal = db.QueryValue("SELECT COUNT(Name) FROM Players WHERE Room_Code = @0 AND Tbl_nr = @1 AND Active = 1", roomCode, table);
    double gedeeld = aantal / 2;
    int helft = Convert.ToInt32(gedeeld);
    int eerste = Convert.ToInt32(aantal - helft);
    int tweede = Convert.ToInt32(eerste - 1);
    if (aantal % 2 == 0)
    {
        tweede = eerste;
    }
    if (aantal > 10)    //Haal max spelers uit database
    {
        string Url = "Players.cshtml/" + roomCode;   //Needs fixing
        Response.Redirect("~/" + Url);
    }

    int maxrebuy = (int)db.QueryValue("SELECT Allow_Rebuy FROM Room WHERE Room_Code = @0", roomCode);
    int updaterebuy = 0;

    //string olaftry2 = "Baap";
    int rebuyyy = (int)db.QueryValue("SELECT Rebuy FROM Players WHERE Name = @0 AND Room_Code = @1 AND Tbl_nr = @2", olaftry2, roomCode, table);


    if (olaftry2 != null && rebuyyy < maxrebuy)
    {

        updaterebuy = db.Execute("UPDATE Players SET Rebuy = @0, Active = 1 WHERE Name = @1 AND Room_Code = @2 AND Tbl_nr = @3", rebuyyy + 1, olaftry2, roomCode, table);
        int rebuyyyafterupdate = (int)db.QueryValue("SELECT Rebuy FROM Players WHERE Name = @0 AND Room_Code = @1 AND Tbl_nr = @2", olaftry2, roomCode, table);
        <h5>@olaftry2 You are now at @rebuyyyafterupdate / @maxrebuy rebuys.</h5>
    }

    if (olaftry2 != null && rebuyyy == maxrebuy)
    {
        <h5>Reached maximum amount of @maxrebuy rebuys!</h5>
    }
}

